@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body {
    background-image: url(/assets/images/animate\ animals.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Orelega One', cursive;
}

.rules {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Orelega One', cursive;
}

/** Emoji sections */
.selections {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
    
}

/* hover emoji*/
.selection:hover {
    transform: scale(1.5);
}

/* You vs computer section*/
.results {
    display: grid;
    justify-content: center;
    font-size: 50px;
    border: 10px;
    box-sizing: border-box;
    font-family: 'Orelega One', cursive;
}

.restart {
    color: green;
    height: 40px;
    font-size: 20px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    .selection {
        padding-top: 10px;
        width: auto;
        justify-content: center;
        clear: left;
        font-size: 8rem;
    }



}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    .title {
        font-size: 50px;
        display: flex;
        justify-content: center;
    }

    .rules {
        font-size: 40px;
        float: left;
        padding-left: 120px;
    }
    .selection {
        padding-top: 10px;
        width: auto;
        justify-content: center;
        clear: left;
        font-size: 8rem;
    }
    .results {
        padding-top: 20px;
        font-size: 50px;
    }
    body {
        height: 1600px;
    }

}

/* For medium screen sizes from 480px wide and down */
@media screen and (max-width: 480px) {
    .title {
        font-size: 25px;
        float: left;
        padding-left: 30px;
    }
    .rules {
        font-size: 20px;
        float: left;
        padding-left: 10px;
    }
    .selection {
        padding-top: 10px;
        width: auto;
        justify-content: center;
        clear: left;
        font-size: 4rem;
    }
    .results{
        padding-top: 20px;
    }
    body{
        height: 900px;
    }

}

